.sform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 397px;
  height: 520px;
  padding: 10px;
  font-family: sans-serif;
}

.scaption {
  margin-bottom: 20px;
  text-align: left;
  margin-left: 4px;
  font-size: 1rem;
  margin-top: 0;
}

.semail-box:focus,
.spw-box:focus,
.name:focus {
  outline: none;
}

.semail-box,
.spw-box,
.name {
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  background: white;
  border: 1px solid lightgray;
  height: 22px;
  margin-bottom: 10px;
}

.signUp {
  text-align: left;
  margin-bottom: 5px;
  font-size: 1.9rem;
  font-weight: 600;
  margin-left: 4px;
  margin-top: 0;
}

.signup-button {
  background-color: #ff004f;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  color: white;
  line-height: 48px;
  padding: 0 16px;
  width: 364px;
  vertical-align: middle;
  margin-bottom: 15px;
  margin-top: 15px;
}

.signup-button:hover {
  background-color: #f83673;
  cursor: pointer;
}

#screated {
  margin: 0;
}

.sinputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.sinputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 14px 17px;
  pointer-events: none;
  transition: 0.5s;
  color: gray;
}

.sinputBox input:focus ~ span,
.sinputBox input:valid ~ span {
  color: rgb(19, 19, 19);
  font-size: 12px;
  transform: translateY(-25px);
  background-color: white;
}
.seye-icon {
    position: absolute;
    margin: 27px 330px;
    cursor: pointer;
    color: #474747;

}

@media only screen and (max-width: 805px) {
  .sform-container {
      width: 100%;
      height: 510px;
  }
  .semail-box,
.spw-box,
.name {
  width: 85%;
  margin-right: 20px;

}

  .signup-button {
      width: 260px;
      line-height: 43px;
  }
  .sinputBox span{
    margin: -49px 17px;
  }
  .sinputBox input:focus ~ span,
.sinputBox input:valid ~ span {
  transform: translateY(-23px);
}
.seye-icon {
  margin: 27px 230px;
}
#screated {
  font-size: 14px;
}
}
