* {
   margin: 0;
   padding: 0; 
}
.navv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #262626;
    width: 100%;
    font-family: sans-serif;
  }
  .user-right {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
  }
  .navv img {
    width: 150px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .dropdown-icon {
    font-size: 18px;
    margin-left: 5px;
    color: white;
    cursor: pointer;
  }
  
  .dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 30px;
    border-radius: 5px;
    left: 92%;

  }
  
  .dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    
  }
  
  .dropdown-content button:hover {
    background-color: #f83673;
    border-radius: 5px;
    color: #fff;
  }
  
  .show {
    display: block;
    margin-bottom: 10px;
  }
  p.authName{
    color: white;
    font-size: 20px;
  }
  button a {
    text-decoration: none;
    color: inherit;
  }
  @media only screen and (max-width: 1750px) {
    .dropdown-content {
      left: 90%;
    }
  }
  @media only screen and (max-width: 1385px) {
    .dropdown-content {
      left: 85%;
    }
  }
  @media only screen and (max-width: 931px) {
    .dropdown-content {
      left: 80%;
    }
  }

  @media only screen and (max-width: 711px) {
    .dropdown-content {
      left: 75%;
    }
  }
  @media only screen and (max-width: 569px) {
    .dropdown-content {
      left: 70%;
    }
  }
