
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 200px;
    width: 100vw;
    color: #fff;
    font-family: sans-serif;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #262626;

}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 20px 0;
}

.footer-content p {
    line-height: 28px;
    font-size: 18px;
    margin: 10px 0;
}

.social-icons {
    margin-top: 5px;
    list-style: none;
    margin-bottom: 10px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform .5s;
}

.social-icons a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 2px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 18px;
    word-spacing: 2px;
    text-transform: capitalize;
    padding: 5px;
}

@media only screen and (max-width: 805px) {
    .footer-content h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }
    .footer-content p {
        line-height: 28px;
        font-size: 14px;
    }
    .footer-bottom p {
        font-size: 14px;
    }
    .social-icons a {
        font-size: 25px;
    }
}

@media only screen and (max-width: 564px) {
    .footer-content h3 {
        font-size: 1.3rem;
        margin: 10px 0;
    }
    .footer-content p {
        font-size: 12px;
    }
    .footer-bottom p {
        font-size: 12px;
    }

}